* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

#image {
  background-image: url("photo.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.audio {
	float: right;
	display: block;
	padding: 13px 10px;
	position: sticky;
	position: -webkit-sticky; 
}

.links {
  position: sticky;
  top: 0;
  padding: 5px;
  overflow: hidden;
}

.links a {
	font-size: 17px;
	float: left;
	display: block;
	color: #095F5C;
	text-align: center;
	padding: 20px 23px;
	text-decoration: none;
	position: sticky;
}

.links a:hover {
	background-color:#095F5C;
	color: white;
}

.button a {
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #0B4C5F;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}
.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0B615E;
}

hr { 
	display: block;
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 0px;
} 

.column {
    float: left;
    width: 25%;
    padding: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

#container {
	color: #095F5C;
	background-image: linear-gradient(to top, white, azure);
	text-align: justify;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
	padding-left: 40px;
	list-style-type: katakana;
}

table, th, td {
	border: 2px solid #0B4C5F;
	padding: 6px;
	border-collapse: collapse;
	text-align: center;
}